@model IEnumerable<MVC_Project.Models.publishers>

@{
    ViewBag.Title = "Publishers";
}
<div class="jumbotron">
    <h2 style="text-align: center;color:white">Publishers</h2>

    <p>
        <a href="@Url.Action("Create", "publishers")"><i class="far fa-plus-square"><span style="font-family:sans-serif"> Create New Publishers</span></i></a>
    </p>
    <table class="table" style="width: 100%;word-wrap: break-word;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pub_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pub_info.pr_info)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pub_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pub_info.pr_info)
                </td>
                <td class="col-md-1">
                    <a href="@Url.Action("Edit", "publishers", new { id = item.pub_id } )"><i class="fas fa-edit fa-1x"></i></a> |
                    <a href="@Url.Action("Details", "publishers", new { id = item.pub_id } )"><i class="fas fa-info-circle fa-1x"></i></a> |
                    <a href="@Url.Action("Delete", "publishers", new { id = item.pub_id } )"><i class="fas fa-trash-alt fa-1x"></i></a>
                </td>
            </tr>
        }

    </table>
</div>