@model MVC_Project.Models.employee

@{
    ViewBag.Title = "Delete";
}
<div class="jumbotron">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this from employees?</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.minit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.minit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.job_lvl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.job_lvl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.hire_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hire_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.jobs.job_desc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.jobs.job_desc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.publishers.pub_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.publishers.pub_name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group" style="text-align:center;margin-top:25px">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-default pull-left" style="margin-left:15%" />
                    <a style="margin-left:36px" class="btn btn-default" href="@Url.Action("")">Back To list</a>

                </div>
            </div>
            <br />
        }
    </div>
</div>