@model IEnumerable<MVC_Project.Models.titleauthor>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h2 style="text-align: center;color:white">Title Authors</h2>

    <p>
        <a href="@Url.Action("Create", "titleauthors")"><i class="far fa-plus-square"><span style="font-family:sans-serif"> Create New titleauthors</span></i></a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.au_ord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.royaltyper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.authors.au_lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titles.title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.au_ord)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.royaltyper)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.authors.au_lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titles.title)
                </td>
                <td class="col-md-1">
                    <a href="@Url.Action("Edit", "titleauthors", new { au_id = item.au_id,title_id = item.title_id } )"><i class="fas fa-edit fa-1x"></i></a> |
                    <a href="@Url.Action("Details", "titleauthors", new { au_id = item.au_id,title_id = item.title_id } )"><i class="fas fa-info-circle fa-1x"></i></a> |
                    <a href="@Url.Action("Delete", "titleauthors", new { au_id = item.au_id,title_id = item.title_id } )"><i class="fas fa-trash-alt fa-1x"></i></a>
                </td>
            </tr>
        }

    </table>
</div>