@model IEnumerable<MVC_Project.Models.stores>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h2 style="text-align: center;color:white">Stores</h2>

    <p>
        <a href="@Url.Action("Create", "stores")"><i class="far fa-plus-square"><span style="font-family:sans-serif"> Create New stores</span></i></a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stor_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stor_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zip)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.stor_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stor_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zip)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "stores", new { id = item.stor_id } )"><i class="fas fa-edit fa-1x"></i></a> |
                    <a href="@Url.Action("Details", "stores", new { id = item.stor_id } )"><i class="fas fa-info-circle fa-1x"></i></a> |
                    <a href="@Url.Action("Delete", "stores", new { id = item.stor_id } )"><i class="fas fa-trash-alt fa-1x"></i></a>
                </td>
            </tr>
        }

    </table>
</div>